<div class="row">
	<div class="col offset-l3 l6 offset-m2 m8 s12 center-align">
		<h4>Update Password</h4>

		<form #changePasswordForm="ngForm" (ngSubmit)="onSubmit()" class="col s12">

			<div class="input-field">
				<label for="password-current">Current Password</label>
				<input type="password"
					class="validate"
				  id="password-current"
					required
					[(ngModel)]="updatePasswordData.passwordCurrent"
					name="current-password">
			</div>

			<div class="input-field">
				<label for="password-new">New Password</label>
				<input type="password"
					class="validate"
				  id="password-new"
					required
					[(ngModel)]="updatePasswordData.password"
					name="password">
			</div>

			<div class="input-field">
				<label for="password-confirmation">New Password Confirmation</label>
				<input type="password"
					class="validate"
				  id="password-confirmation"
					required
					[(ngModel)]="updatePasswordData.passwordConfirmation"
					name="password-confirmation">
			</div>

			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="!changePasswordForm.form.valid">
				Update Password
			</button>

		</form>

	</div>
</div>
