<div class="row">
	<div class="col offset-l3 l6 offset-m2 m8 s12 center-align">
		<h4 class="card-title">New Task</h4>

		<form #signInForm="ngForm" (ngSubmit)="newTask(task)" class="col s12">
			<div class="input-field">
				<label for="title">Title</label>
				<input type="text"
					class="validate"
				  id="title"
					required
					[(ngModel)]="task.title"
					name="email">
			</div>
			<div class="input-field">
				<label for="content">Content</label>
				<textarea type="text"
					class="validate materialize-textarea"
				  id="content"
					required
					[(ngModel)]="task.content"
					name="password"></textarea>
			</div>
			<button type="submit"
				class="btn btn-primary"
				[disabled]="!signInForm.form.valid">Create Task</button>
		</form>
	</div>
</div>
