<div class="row">
	<div class="col offset-l3 l6 offset-m2 m8 s12 center-align">
		<h4 class="card-title">Sign In</h4>

		<form #signInForm="ngForm" (ngSubmit)="onSubmit()" class="col s12">
			<div class="input-field">
				<label for="formGroupExampleInput">Email</label>
				<input type="email"
					class="validate"
				  id="email"
					required
					[(ngModel)]="signInData.email"
					name="email">
			</div>
			<div class="input-field">
				<label for="formGroupExampleInput">Password</label>
				<input type="password"
					class="validate"
				  id="password"
					required
					[(ngModel)]="signInData.password"
					name="password">
			</div>
			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="!signInForm.form.valid">Sign In</button>
		</form>
	</div>
</div>
