/*
.container-tasks{
  background: white;
  padding: 10px;
  box-shadow: 0 0 5px #BBB;
}
.task{
  box-shadow: 0 0 5px #BBB;
  background: #FBFBFB;
  margin-bottom: 10px;
  padding-left: 10px;
}
a:hover{
  text-decoration: none;
}*/
