<nav class="main-navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Todo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/sign_up" routerLinkActive="active">Sign up</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Logout</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
