<div class="grid grid-pad">
</div>
<div calss='navbar'>
</div>

<div class='container row'>
  <div class='container-categories col l3 col s12'>

  </div>

  <div class='container-tasks col l6 col s12'>
    <h3>Your tasks</h3>
    <div class="collection">
      <a *ngFor="let task of tasks" [routerLink]="['/detail', task.id]" href="#!" class="collection-item">
        {{task.title}}
      </a>
    </div>
  </div>

  <div class='container-info col l3 col s12'>

  </div>

  <div>
  </div>
</div>

<div class='footer'>
</div>
